{{define "main"}}
<!-- Breadcrumb Section -->
<section>
    <div class="">
        <div class="breadcrumb-div">
            <div class="breadcrumb-internal-div">
                <p class="fs-2">CONTACT</p>
            <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb" class="bread-div-nav">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/" class="breadcrumb-a-tag">HOME</a></li>
                  <li class="breadcrumb-item" aria-current="page" class="breadcrumb-non-a-tag">ABOUT</li>
                </ol>
              </nav>
            </div>
            
        </div>
    
    </div>  
</section>

<!-- Content Section -->
 <section class="about-page-main-content pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="display-4 fw-normal">Ensure Superlative Support with Technology.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <img src="/imgs/about-tablet-img.png" alt="" class="pt-md-3">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="lh-lg">At Visionsoft International Inc., we are dedicated to realizing your business vision through comprehensive technology
                    solutions. Our mission is to empower organizations with cutting-edge services, including application management
                    and maintenance, SAP development and integration, network infrastructure services, business analytics and
                    intelligence, enterprise mobility solutions, IT staff augmentation, and Oracle Cloud implementations. Whether you
                    seek to optimize operations, innovate with data-driven insights, enhance mobility, or scale your IT resources
                    effectively, we deliver tailored strategies that drive growth and operational excellence. With a client-centric
                    approach, we collaborate closely with you to understand your unique goals and challenges, ensuring every solution
                    aligns seamlessly with your vision for success. Partner with us to achieve your business objectives and embark on a
                    journey of continuous advancesment and transformation.</p>
            </div>
        </div>
        
        
    </div>
    <div class="container-fluid ps-lg-4 pe-0 overflow-x-hidden">
        <div class="row mt-5 ps-lg-5">
            <div class="col-lg-7 col-md-12 col-sm-12 ps-lg-5 pt-lg-4 about-page-best-solutions-main-div p-md-4 p-sm-4">
                <p class="display-6 fw-normal text-start">We Provide The Best Solution For Businesses</p>
                <div class="row mb-5 mt-5 ps-md-4">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="d-flex">
                            <i class="bi bi-toggles h3"></i>
                            <p class="ps-4 fs-4 fw-normal">Product Design</p>
                        </div>
                        <div>
                            <p class="text-start">Good Knowledge because of rigorously training many times.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="d-flex">
                            <i class="bi bi-graph-up h3"></i>
                            <p class="ps-4 fs-4 fw-normal">Cyber Security</p>
                        </div>
                        <div>
                            <p class="text-start">Good Knowledge because of rigorously training many times.</p>
                        </div>
                    </div>
                </div>
                <div class="row ps-md-4">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="d-flex">
                            <i class="bi bi-people h3"></i>
                            <p class="ps-4 fs-4 fw-normal">Best Consultancy</p>
                        </div>
                        <div>
                            <p class="text-start">Good Knowledge because of rigorously training many times.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="d-flex">
                            <i class="bi bi-easel h3"></i>
                            <p class="ps-4 fs-4 fw-normal">Expert Developers</p>
                        </div>
                        <div>
                            <p class="text-start">Good Knowledge because of rigorously training many times.</p>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 ps-md-0">
                <img src="/imgs/about-section-solution-img.png" alt="" class="about-page-best-solutions-img">
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="display-6 fw-normal">Expert People Providing Best Solutions</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias beatae aut eum repellendus iusto tempora quia eaque doloribus non! Dignissimos ab corporis, laborum nam at dolor vero obcaecati reprehenderit ullam!</p>
            </div>
        </div>
        <div class="row pt-5 d-md-flex ps-xl-5 ms-xl-4 about-page-members-card-row d-none">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 position-relative about-page-members-card-1 text-start">
                <div class="about-page-members-card-grey-rectangle-div">
                    <img src="/imgs/grey-rectangle.png" alt="" class="about-page-members-card-grey-rectangle-img"> 
                </div>
                <div class="position-absolute about-page-members-placeholder-img-div">
                    <img src="/imgs/member-placeholder-img.png" alt="" class="mx-lg-4 my-lg-4 about-page-members-placeholder-img">
                </div>
                <div class="p-3">
                    <p class="mb-0">CEO</p>
                    <p class="fs-5 fw-medium">Antony Arputharaj</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 position-relative about-page-members-card-2 text-start">
                <div class="about-page-members-card-grey-rectangle-div">
                    <img src="/imgs/grey-rectangle.png" alt="" class="about-page-members-card-grey-rectangle-img"> 
                </div>
                <div class="position-absolute about-page-members-placeholder-img-div">
                    <img src="/imgs/member-placeholder-img.png" alt="" class="mx-lg-4 my-lg-4 about-page-members-placeholder-img">
                </div>
                <div class="p-3">
                    <p class="mb-0">Manager</p>
                    <p class="fs-5 fw-medium">Durai</p>
                </div>
                
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 position-relative about-page-members-card-3 text-start">
                <div class="about-page-members-card-grey-rectangle-div">
                    <img src="/imgs/grey-rectangle.png" alt="" class="about-page-members-card-grey-rectangle-img"> 
                </div>
                <div class="position-absolute about-page-members-placeholder-img-div">
                    <img src="/imgs/member-placeholder-img.png" alt="" class="mx-lg-4 my-lg-4 about-page-members-placeholder-img">
                </div>
                <div class="p-3">
                    <p class="mb-0">IT DIRECTOR</p>
                    <p class="fs-5 fw-medium">Sathish</p>   
                </div>
                
            </div>
        </div>
        <div class="row mx-5 ps-xl-5 about-page-members-carousel d-md-none m-auto pt-3 pb-4">
            <div class="col-12">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-theme="dark">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/imgs/member-placeholder-img.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                          <p class="mb-0">CEO</p>
                          <p class="fs-5 fw-medium">Antony Arputharaj</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/imgs/member-placeholder-img.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                          <p class="mb-0">Manager</p>
                          <p class="fs-5 fw-medium">Durai</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/imgs/member-placeholder-img.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                          <p class="mb-0">IT DIRECTOR</p>
                          <p class="fs-5 fw-medium">Sathish</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
    <div class="position-relative">

    
    <div class="container pb-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="display-6 fw-normal">See What Our Clients Are Saying</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, eius dolore molestiae adipisci praesentium ea rerum! Sed ratione quisquam cumque odit voluptatum nostrum accusantium libero officia exercitationem, quod alias. Eveniet.
                Ipsa aliquam illum quos veniam, deserunt fugiat minima autem eos eius porro fuga dolore rerum id aperiam labore blanditiis voluptates cumque dolorem? Ex labore laudantium, facere fugit maxime unde eum.</p>
            </div>
        </div>
        <div class="row g-4 pt-3 mt-3">
            <div class="col-lg-4">
                <div class="about-page-client-say p-4" style="background-color: #fff;">
                    <div>
                        <img src="/imgs/quoration.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et corporis tempore eius tenetur recusandae iusto voluptatibus est, provident minus beatae dolorem. Maxime nam dolor, ex eligendi voluptatem officia culpa voluptates!</p>
                    </div>
                    <div class="d-flex">
                        <img src="/imgs/client.png" alt="client-img">
                        <div class="px-4">
                            <p class="mb-0">Manoj Raj</p>
                        <p class="mb-0">CEO of Data Group</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="about-page-client-say p-4" style="background-color: #fff;">
                    <div>
                        <img src="/imgs/quoration.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et corporis tempore eius tenetur recusandae iusto voluptatibus est, provident minus beatae dolorem. Maxime nam dolor, ex eligendi voluptatem officia culpa voluptates!</p>
                    </div>
                    <div class="d-flex">
                        <img src="/imgs/client.png" alt="client-img">
                        <div class="px-4">
                            <p class="mb-0">David S</p>
                        <p class="mb-0">Developer</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="about-page-client-say p-4" style="background-color: #fff;">
                    <div>
                        <img src="/imgs/quoration.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et corporis tempore eius tenetur recusandae iusto voluptatibus est, provident minus beatae dolorem. Maxime nam dolor, ex eligendi voluptatem officia culpa voluptates!</p>
                    </div>
                    <div class="d-flex">
                        <img src="/imgs/client.png" alt="client-img">
                        <div class="px-4">
                            <p class="mb-0">John Doe</p>
                        <p class="mb-0">Entrepreneur</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
        <div class="container-fluid p-0 position-absolute about-page-clients-imgs text-start">
            <img src="/imgs/clients-gold.png" alt="" class="position-absolute about-page-clients-gold-img">
            <img src="/imgs/clients-silver.png" alt="" class="position-absolute about-page-clients-silver-img">
            <img src="/imgs/clients-red.png" alt="" class="position-absolute about-page-clients-red-img">
        </div>
</div>
 </section>
{{end}}