{{ define "main" }}
<!-- Breadcrumb Section-->
<section>
    <div class="">
        <div class="breadcrumb-div">
            <div class="breadcrumb-internal-div">
                <p class="fs-2">CONTACT</p>
            <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb" class="bread-div-nav">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/" class="breadcrumb-a-tag">HOME</a></li>
                  <li class="breadcrumb-item"><a href="/our-services" class="breadcrumb-a-tag">SERVICES</a></li>
                  <li class="breadcrumb-item" aria-current="page" class="breadcrumb-non-a-tag">ORACLE CLOUD</li>
                </ol>
              </nav>
            </div>
            
        </div>
    
    </div>  
</section>

<!-- Content Section -->
<section class="main-container pt-5">
    <div class="container">
        <div class="row pb-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="oracle-cloud-heading display-4 fw-medium">Introduction to Oracle Cloud.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, laboriosam deserunt! Provident nostrum mollitia, corporis aspernatur maiores iusto quia natus non, exercitationem architecto tempore assumenda? Recusandae obcaecati maxime perspiciatis quis.</p>
            </div>
        </div>
        <div class="row pt-5 pb-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="/imgs/oracle-service-img.png" alt="" class="our-approach-img">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="fs-3">OUR APPROACH</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut non, voluptate magnam temporibus fugit repellendus excepturi voluptatem obcaecati quo! Optio ab exercitationem libero cum adipisci quaerat, culpa illo dolorum.
                Tenetur doloremque dolorum molestiae animi? Rem voluptatibus, accusamus a quasi fugiat non eos magnam, at quaerat alias repellat sit amet impedit eaque quos consequatur vitae dolorem optio voluptate harum libero.
                Suscipit quae officiis adipisci dolores neque molestiae dignissimos tempore iusto? Recusandae laboriosam dolorum ipsam pariatur fugit quaerat, autem natus doloribus eius minima quidem quo officia, beatae minus unde deserunt facere.
                Maiores repellat recusandae veritatis ratione autem ullam, accusamus quibusdam nihil nesciunt nisi, explicabo molestias a, libero soluta consequatur harum repudiandae eaque iste ab dolorum similique. Officiis porro eaque hic beatae!</p>
            </div>
        </div>
        <div class="row pt-5 pb-3">
            <div class="col-lg-12">
                <div class="d-flex align-items-baseline">
                    <p class="display-4 fw-medium">Service Offering</p>
                    <hr class="flex-grow-1 ">
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nostrum deserunt quas. Quis facilis autem ullam expedita maiores nulla aperiam culpa, non, unde, corrupti alias rerum soluta ipsa eum asperiores.</p>
            </div>
        </div>
        <div class="row g-4 pt-5 pb-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="main-box p-5">
                    <p class="fs-2 fw-medium">Assessment</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minus pariatur adipisci hic voluptatibus sequi, nihil, ad aspernatur ipsa voluptatum perferendis perspiciatis illum laboriosam, quibusdam ipsum provident vel repellat quaerat!</p>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sub-box p-5">
                    <p class="fs-2 fw-medium">Strategy and Planning</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere praesentium perferendis! Rem enim cum et repudiandae, iusto delectus facere modi id praesentium iste tenetur, ea accusantium consequuntur dolorem animi!</p>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sub-box p-5">
                    <p class="fs-2 fw-medium">Innovation</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ut eius debitis dicta. Nesciunt, totam qui, saepe rerum dolor labore optio dicta, tempore eum quos repellat aliquid fuga reprehenderit omnis?</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="main-box p-5">
                    <p class="fs-2 fw-medium">Modernisation</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis sed cumque maxime aliquam dicta accusamus beatae aspernatur eaque ratione eligendi obcaecati ullam, libero illo, alias recusandae nihil quas consectetur.</p>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="display-4 fw-medium">Enabling Your Business to Scale at Speed</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="pt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea laboriosam molestias iusto libero quo dolorum eius totam earum voluptas mollitia, similique natus velit numquam omnis adipisci dolore, optio maxime illo?</p>
            </div>
        </div>
        <div class="row pt-5 pb-5 mb-5 px-lg-5 px-md-0">
            <div class="accordion" id="accordionOracleCloud">
                <div class="accordion-item">
                  <p class="accordion-header">
                    <button class="accordion-button collapsed fs-5 fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Expertise
                    </button>
                </p>
                  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionOracleCloud">
                    <div class="accordion-body">
                      <p>Our team of over 1000 professionals have deep knowledge and years of experience and expertise in cloud consulting assisting clients worldwide in various industries and helping them in harnessing the true power of cloud.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="accordion-header">
                    <button class="accordion-button collapsed fs-5 fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Customized Solutions
                    </button>
                </p>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionOracleCloud">
                    <div class="accordion-body">
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse voluptatibus recusandae obcaecati, maiores perspiciatis alias dolore, eveniet culpa quas dolorum, non ut sint! Eaque distinctio eos nisi voluptas, atque sapiente.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="accordion-header">
                    <button class="accordion-button fs-5 fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      End-to-End Support
                    </button>
                </p>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionOracleCloud">
                    <div class="accordion-body">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae totam, eos, perspiciatis debitis explicabo accusantium cum ab molestiae porro tenetur inventore culpa perferendis alias voluptatem nobis cupiditate? Optio, ipsam itaque!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <p class="accordion-header">
                      <button class="accordion-button collapsed fs-5 fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Industry-Leading Partnerships
                      </button>
                    </p>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionOracleCloud">
                      <div class="accordion-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse voluptatibus recusandae obcaecati, maiores perspiciatis alias dolore, eveniet culpa quas dolorum, non ut sint! Eaque distinctio eos nisi voluptas, atque sapiente.</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>
{{ end }}